/* navbar */
.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;

}

#header-container {
    background-color: #D17813;
}

.nav-item {
    font-size: 1.4em;
    margin-right: 3em;
    font-family: 'Roboto', sans-serif;
    color: #136C31;

}



/* jumbotron */

.jumbotron {
    background-image: url("../images/jumbotron-bg.jpg");
    background-position: right top;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border-top-width: 10px;
    border-top-color: #fafafa;
    border-radius: 25px;
    margin-top: 2em;
}

#jumbotron-container > h1 {
    color: #fafafa;
    font-family: 'Spectral', sans-serif; 

}
#jumbotron-container > p {
    color: #fafafa;
    font-family: 'Spectral', sans-serif;
    font-size: 1.4em;
}
.btn {
    font-family: 'Roboto', sans-serif;
    font-size: 1.4em;

}
/* text */

.main-text {
font-size: 1.5em; 
color: #fafafa;
font-family: 'Spectral', sans-serif; 

 }

 /* map */

 #map {
        height: 400px;
        width: 100%;
        border-radius: 25px;
 }
 /* body */

 body {
     background: #136C31;

 }

 /* map */

 # map {
     height: 500px;
 }
 